USE [master]
GO
/****** Object:  Database [Hotel_SoftWare]    Script Date: 6/27/2021 2:28:11 AM ******/
CREATE DATABASE [Hotel_SoftWare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel_SoftWare', FILENAME = N'D:\nam3_2\Thực tập cơ sở dữ liệu\báo cáo\quản lý khách sạn\Hotel_SoftWare.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_SoftWare_log', FILENAME = N'D:\nam3_2\Thực tập cơ sở dữ liệu\báo cáo\quản lý khách sạn\Hotel_SoftWare_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel_SoftWare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel_SoftWare]
GO
/****** Object:  Table [dbo].[ChiTietPhieuThue]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuThue](
	[MaChiTietPhieuThue] [varchar](8) NOT NULL,
	[NgayVao] [date] NULL,
	[NgayRa] [date] NULL,
	[HinhThucThue] [bit] NULL,
	[SoLuongKhach] [char](1) NULL,
	[MaPhong] [varchar](8) NULL,
	[MaPhieuThuePhong] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietPhieuThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [varchar](8) NOT NULL,
	[TenDV] [nvarchar](20) NULL,
	[DonGia] [float] NULL,
	[MaLoaiDV] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucThanhToan]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucThanhToan](
	[MaHTTT] [varchar](8) NOT NULL,
	[TenHTTT] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](8) NOT NULL,
	[TienPhong] [float] NULL,
	[TienDV] [float] NULL,
	[TongTien] [float] NULL,
	[NgayThanhToan] [date] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[MaPhieuThuePhong] [varchar](8) NULL,
	[MaHTTT] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](8) NOT NULL,
	[TenKH] [nvarchar](30) NULL,
	[SoCMND] [char](12) NULL,
	[DiaChi] [nvarchar](20) NULL,
	[SDT] [char](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[MaLoaiDV] [varchar](8) NOT NULL,
	[TenLoaiDV] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoai] [varchar](8) NOT NULL,
	[TenLoai] [nvarchar](30) NULL,
	[SoNguoi] [char](1) NULL,
	[GhiChu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](8) NOT NULL,
	[TenTk] [varchar](30) NULL,
	[MatKhau] [varchar](30) NULL,
	[Quyen] [bit] NULL,
	[HoTen] [nvarchar](30) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [char](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThuePhong]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThuePhong](
	[MaPhieuThuePhong] [varchar](8) NOT NULL,
	[GhiChu] [nvarchar](250) NULL,
	[MaKH] [varchar](8) NULL,
	[MaNV] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuThuePhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [varchar](8) NOT NULL,
	[TenPhong] [nvarchar](20) NULL,
	[TinhTrang] [bit] NULL,
	[DienTich] [char](3) NULL,
	[GiaThue] [float] NULL,
	[MaLoai] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuDungDichVu]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuDungDichVu](
	[MaSD] [varchar](8) NOT NULL,
	[NgaySD] [date] NULL,
	[SoLuong] [char](4) NULL,
	[GiaTien] [float] NULL,
	[MaChiTietPhieuThue] [varchar](8) NULL,
	[MaDV] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietPhieuThue] ([MaChiTietPhieuThue], [NgayVao], [NgayRa], [HinhThucThue], [SoLuongKhach], [MaPhong], [MaPhieuThuePhong]) VALUES (N'MCTPT02', CAST(N'2019-08-03' AS Date), CAST(N'2021-03-24' AS Date), 1, N'1', N'MP07', N'MPTP02')
INSERT [dbo].[ChiTietPhieuThue] ([MaChiTietPhieuThue], [NgayVao], [NgayRa], [HinhThucThue], [SoLuongKhach], [MaPhong], [MaPhieuThuePhong]) VALUES (N'MCTPT03', CAST(N'2019-12-07' AS Date), CAST(N'2019-12-17' AS Date), 1, N'2', N'MP07', N'MPTP03')
INSERT [dbo].[ChiTietPhieuThue] ([MaChiTietPhieuThue], [NgayVao], [NgayRa], [HinhThucThue], [SoLuongKhach], [MaPhong], [MaPhieuThuePhong]) VALUES (N'MCTPT04', CAST(N'2019-01-04' AS Date), CAST(N'2019-01-30' AS Date), 1, N'1', N'MP04', N'MPTP04')
GO
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [MaLoaiDV]) VALUES (N'MDV01', N'mì xào hải sản', 100000, N'MLDV01')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [MaLoaiDV]) VALUES (N'MDV02', N'tôm hùm hấp bia', 1000000, N'MLDV01')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [MaLoaiDV]) VALUES (N'MDV03', N'cơm rang hải sản', 70000, N'MLDV01')
GO
INSERT [dbo].[HinhThucThanhToan] ([MaHTTT], [TenHTTT]) VALUES (N'MHTTT01', 1)
INSERT [dbo].[HinhThucThanhToan] ([MaHTTT], [TenHTTT]) VALUES (N'MHTTT02', 0)
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [TienPhong], [TienDV], [TongTien], [NgayThanhToan], [GhiChu], [MaPhieuThuePhong], [MaHTTT]) VALUES (N'MHD03', 800000, 200000, 100000, CAST(N'2019-12-07' AS Date), N'', N'MPTP03', N'MHTTT02')
INSERT [dbo].[HoaDon] ([MaHoaDon], [TienPhong], [TienDV], [TongTien], [NgayThanhToan], [GhiChu], [MaPhieuThuePhong], [MaHTTT]) VALUES (N'MHD04', 1000000, 234000, 1234000, CAST(N'2019-01-04' AS Date), N'', N'MPTP04', N'MHTTT01')
INSERT [dbo].[HoaDon] ([MaHoaDon], [TienPhong], [TienDV], [TongTien], [NgayThanhToan], [GhiChu], [MaPhieuThuePhong], [MaHTTT]) VALUES (N'MHD05', 2000000, 368000, 2368000, CAST(N'2019-12-06' AS Date), N'', N'MPTP05', N'MHTTT01')
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoCMND], [DiaChi], [SDT]) VALUES (N'MKH01', N'Nhật Thị Mai', N'152222791   ', N'Nghệ An', N'0344512345  ')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoCMND], [DiaChi], [SDT]) VALUES (N'MKH02', N'Cao Thái Thuý', N'152222754   ', N'Hà Nội', N'0360016137  ')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoCMND], [DiaChi], [SDT]) VALUES (N'MKH03', N'Dương Cao Kỳ Hà', N'120746600   ', N'Quảng Bình', N'0450418548  ')
GO
INSERT [dbo].[LoaiDichVu] ([MaLoaiDV], [TenLoaiDV]) VALUES (N'MLDV01', N'đồ ăn')
INSERT [dbo].[LoaiDichVu] ([MaLoaiDV], [TenLoaiDV]) VALUES (N'MLDV02', N'đồ uống')
INSERT [dbo].[LoaiDichVu] ([MaLoaiDV], [TenLoaiDV]) VALUES (N'MLDV03', N'spa')
GO
INSERT [dbo].[LoaiPhong] ([MaLoai], [TenLoai], [SoNguoi], [GhiChu]) VALUES (N'MLP01', N'deluxe', N'3', N'2 giường, 1 điều hòa, 1 tivi')
INSERT [dbo].[LoaiPhong] ([MaLoai], [TenLoai], [SoNguoi], [GhiChu]) VALUES (N'MLP02', N'luxury', N'3', N'2 giường, 1 điều hòa, 1tivi')
INSERT [dbo].[LoaiPhong] ([MaLoai], [TenLoai], [SoNguoi], [GhiChu]) VALUES (N'MLP03', N'superio', N'2', N'2 giường, 1 điều hòa, 1 tivi')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenTk], [MatKhau], [Quyen], [HoTen], [NgaySinh], [SDT]) VALUES (N'MNV02', N'1', N'1', 1, N'Văn Thu Anh', CAST(N'1982-12-21' AS Date), N'0450035805  ')
INSERT [dbo].[NhanVien] ([MaNV], [TenTk], [MatKhau], [Quyen], [HoTen], [NgaySinh], [SDT]) VALUES (N'MNV03', N'2', N'1', 1, N'Nguyễn Văn Thuận', CAST(N'1982-12-22' AS Date), N'0960375532  ')
INSERT [dbo].[NhanVien] ([MaNV], [TenTk], [MatKhau], [Quyen], [HoTen], [NgaySinh], [SDT]) VALUES (N'MNV04', N'3', N'1', 1, N'Phùng Mỹ Anh', CAST(N'1982-12-23' AS Date), N'0450793868  ')
GO
INSERT [dbo].[PhieuThuePhong] ([MaPhieuThuePhong], [GhiChu], [MaKH], [MaNV]) VALUES (N'MPTP02', N'', N'MKH02', N'MNV02')
INSERT [dbo].[PhieuThuePhong] ([MaPhieuThuePhong], [GhiChu], [MaKH], [MaNV]) VALUES (N'MPTP03', N'', N'MKH03', N'MNV03')
INSERT [dbo].[PhieuThuePhong] ([MaPhieuThuePhong], [GhiChu], [MaKH], [MaNV]) VALUES (N'MPTP04', N'', N'MKH04', N'MNV04')
GO
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TinhTrang], [DienTich], [GiaThue], [MaLoai]) VALUES (N'MP01', N'101', 1, N'100', 400000, N'MLP02')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TinhTrang], [DienTich], [GiaThue], [MaLoai]) VALUES (N'MP02', N'102', 0, N'100', 400000, N'MLP02')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TinhTrang], [DienTich], [GiaThue], [MaLoai]) VALUES (N'MP03', N'103', 0, N'70 ', 800000, N'MLP04')
GO
INSERT [dbo].[SuDungDichVu] ([MaSD], [NgaySD], [SoLuong], [GiaTien], [MaChiTietPhieuThue], [MaDV]) VALUES (N'MSD02', CAST(N'2019-08-03' AS Date), N'4   ', 4000000, N'MCTPT02', N'MDV02')
INSERT [dbo].[SuDungDichVu] ([MaSD], [NgaySD], [SoLuong], [GiaTien], [MaChiTietPhieuThue], [MaDV]) VALUES (N'MSD03', CAST(N'2019-12-07' AS Date), N'4   ', 280000, N'MCTPT03', N'MDV03')
INSERT [dbo].[SuDungDichVu] ([MaSD], [NgaySD], [SoLuong], [GiaTien], [MaChiTietPhieuThue], [MaDV]) VALUES (N'MSD04', CAST(N'2019-01-04' AS Date), N'5   ', 50000, N'MCTPT04', N'MDV04')
GO
ALTER TABLE [dbo].[ChiTietPhieuThue]  WITH CHECK ADD FOREIGN KEY([MaPhieuThuePhong])
REFERENCES [dbo].[PhieuThuePhong] ([MaPhieuThuePhong])
GO
ALTER TABLE [dbo].[ChiTietPhieuThue]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD FOREIGN KEY([MaLoaiDV])
REFERENCES [dbo].[LoaiDichVu] ([MaLoaiDV])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaHTTT])
REFERENCES [dbo].[HinhThucThanhToan] ([MaHTTT])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaPhieuThuePhong])
REFERENCES [dbo].[PhieuThuePhong] ([MaPhieuThuePhong])
GO
ALTER TABLE [dbo].[PhieuThuePhong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuThuePhong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiPhong] ([MaLoai])
GO
ALTER TABLE [dbo].[SuDungDichVu]  WITH CHECK ADD FOREIGN KEY([MaChiTietPhieuThue])
REFERENCES [dbo].[ChiTietPhieuThue] ([MaChiTietPhieuThue])
GO
ALTER TABLE [dbo].[SuDungDichVu]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
/****** Object:  StoredProcedure [dbo].[add_CTPT]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[add_CTPT](@mactpt varchar(8), @ngayvao date, @htt bit, @slk tinyint, @maphong varchar(8), @mptp varchar(8))
as
INSERT dbo.ChiTietPhieuThue
        ( MaChiTietPhieuThue ,
          NgayVao ,
          HinhThucThue ,
          SoLuongKhach ,
          MaPhong ,
          MaPhieuThuePhong
        )
VALUES  ( @mactpt , -- MaChiTietPhieuThue - varchar(8)
          @ngayvao, -- NgayVao - date
          @htt , -- HinhThucThue - bit
          @slk , -- SoLuongKhach - tinyint
          @maphong , -- MaPhong - varchar(8)
          @mptp  -- MaPhieuThuePhong - varchar(8)
        )

GO
/****** Object:  StoredProcedure [dbo].[addCus]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[addCus](@MAKH VARCHAR(8), @TENKH NVARCHAR(30), @CMND CHAR(12), @DIACHI NVARCHAR(20), @SDT CHAR(12))
	 AS
	 BEGIN
		INSERT INTO KhachHang (MaKH, TenKH, SoCMND, DiaChi, SDT) 
		VALUES (@MAKH, @TENKH, @CMND, @DIACHI, @SDT)
	 END
GO
/****** Object:  StoredProcedure [dbo].[addEmp]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[addEmp](@MANV VARCHAR(8), @HOTEN NVARCHAR(30), @NGAYSINH DATE, @SDT CHAR(12))
	 AS
	 BEGIN
		INSERT INTO NhanVien (MaNV, HoTen, NgaySinh, SDT) 
		VALUES (@MANV, @HOTEN, @NGAYSINH, @SDT)
	 END
GO
/****** Object:  StoredProcedure [dbo].[addPhieuThuePhong]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[addPhieuThuePhong](@mptp varchar(8), @ghichu nvarchar(250), @makh varchar(8), @manv varchar(8))
as
INSERT dbo.PhieuThuePhong
        ( MaPhieuThuePhong ,
          GhiChu ,
          MaKH ,
          MaNV
        )
VALUES  ( @mptp, -- MaPhieuThuePhong - varchar(8)
          @ghichu , -- GhiChu - nvarchar(250)
          @makh, -- MaKH - varchar(8)
          @manv  -- MaNV - varchar(8)
        )

GO
/****** Object:  StoredProcedure [dbo].[addRoom]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[addRoom](@MAPHONG VARCHAR(8), @TENPHONG NVARCHAR(30), @TINHTRANG TINYINT, @DIENTICH INT, @GIATHUE FLOAT, @MALOAI VARCHAR(8))
	 AS
	 BEGIN
		INSERT INTO Phong(MaPhong, TenPhong, TinhTrang, DienTich, GiaThue, MaLoai) 
		VALUES (@MAPHONG, @TENPHONG, @TINHTRANG, @DIENTICH, @GIATHUE, @MALOAI)
	 END

GO
/****** Object:  StoredProcedure [dbo].[addSer]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[addSer](@MADV VARCHAR(8), @TENDV NVARCHAR(20), @DONGIA FLOAT,@MALOAIDICHVU VARCHAR(8))
	 AS
	 BEGIN
		INSERT INTO DichVu(MaDV, TenDV, DonGia, MaLoaiDV) 
		VALUES (@MADV, @TENDV, @DONGIA, @MALOAIDICHVU)
	 END

GO
/****** Object:  StoredProcedure [dbo].[addServiceRoom]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[addServiceRoom](@MASD VARCHAR(8), @NGAYSD DATE, @SOLUONG TINYINT, @GIATIEN FLOAT, @MADV VARCHAR(8), @MACTPT VARCHAR(8))
	 AS
	 BEGIN
		INSERT INTO SuDungDichVu(MaSD, NgaySD, SoLuong, GiaTien, MaDV, MaChiTietPhieuThue)
		VALUES (@MASD, @NGAYSD, @SOLUONG, @GIATIEN, @MADV, @MACTPT)
	 END

GO
/****** Object:  StoredProcedure [dbo].[addTypeRoom]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[addTypeRoom](@MALOAIPHONG VARCHAR(8), @TENLOAIPHONG NVARCHAR(30), @SONGUOI TINYINT, @GHICHU NVARCHAR(250))
	 AS
	 BEGIN
		INSERT INTO LoaiPhong(MaLoai, TenLoai, SoNguoi, GhiChu) 
		VALUES (@MALOAIPHONG,@TENLOAIPHONG ,@SONGUOI ,@GHICHU)
	 END

GO
/****** Object:  StoredProcedure [dbo].[addTypeSer]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[addTypeSer](@MALOAIDV VARCHAR(8), @TENLOAIDV NVARCHAR(20))
	 AS
	 BEGIN
		INSERT INTO LoaiDichVu(MaLoaiDV, TenLoaiDV) 
		VALUES (@MALOAIDV, @TENLOAIDV)
	 END

GO
/****** Object:  StoredProcedure [dbo].[changePass]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[changePass](@matkhauhientai varchar(30), @idnv varchar(8))
as
UPDATE dbo.NhanVien 
SET MatKhau= @matkhauhientai
WHERE MaNV= @idnv

GO
/****** Object:  StoredProcedure [dbo].[changeStatusRoom]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[changeStatusRoom](@maphong varchar(8))
as
UPDATE dbo.Phong 
SET dbo.Phong.TinhTrang = 
CASE
WHEN TinhTrang = 0 THEN 1
WHEN TinhTrang = 1 THEN 0
END
WHERE MaPhong = @maphong

GO
/****** Object:  StoredProcedure [dbo].[creatBill]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[creatBill](@maHD VARCHAR(8), @tienphong FLOAT, @tiendv FLOAT, @tongtien FLOAT , @ngaytt DATE, @ghichu NVARCHAR(500), @mptp varchar(8), @mhttt VARCHAR(8))
AS
INSERT dbo.HoaDon(MaHoaDon, TienPhong, TienDV, TongTien, NgayThanhToan, GhiChu, MaPhieuThuePhong, MaHTTT) VALUES
(@maHD, @tienphong, @tiendv, @tongtien, @ngaytt, @ghichu, @mptp, @mhttt)

GO
/****** Object:  StoredProcedure [dbo].[delCTPT]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delCTPT](@MaChiTietPhieuThue varchar(8))
AS
BEGIN
  DELETE dbo.ChiTietPhieuThue WHERE @MaChiTietPhieuThue = ChiTietPhieuThue.MaChiTietPhieuThue
END

GO
/****** Object:  StoredProcedure [dbo].[delCus]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delCus](@MAKH VARCHAR(8))
	 AS
	 BEGIN
			 DELETE dbo.SuDungDichVu
			 WHERE dbo.SuDungDichVu.MaChiTietPhieuThue = (SELECT dbo.ChiTietPhieuThue.MaChiTietPhieuThue
														  FROM dbo.KhachHang 
													      JOIN dbo.PhieuThuePhong ON PhieuThuePhong.MaKH = KhachHang.MaKH
														  JOIN dbo.ChiTietPhieuThue ON ChiTietPhieuThue.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong
														  WHERE dbo.KhachHang.MaKH = @MaKH)
			 DELETE dbo.HoaDon 
			 WHERE dbo.HoaDon.MaPhieuThuePhong = (SELECT dbo.PhieuThuePhong.MaPhieuThuePhong
												  FROM dbo.KhachHang
												  JOIN dbo.PhieuThuePhong ON PhieuThuePhong.MaKH = KhachHang.MaKH
												  WHERE dbo.KhachHang.MaKH = @MaKH)
			 DELETE dbo.ChiTietPhieuThue 
			 WHERE dbo.ChiTietPhieuThue.MaPhieuThuePhong = (SELECT dbo.PhieuThuePhong.MaPhieuThuePhong
															FROM dbo.KhachHang
															JOIN dbo.PhieuThuePhong ON PhieuThuePhong.MaKH = KhachHang.MaKH
															WHERE dbo.KhachHang.MaKH = @MAKH)

			 DELETE dbo.PhieuThuePhong WHERE @MaKH = dbo.PhieuThuePhong.MaKH
			 DELETE dbo.KhachHang WHERE MaKH=@MaKH
	 END

GO
/****** Object:  StoredProcedure [dbo].[delEmp]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delEmp](@MANV VARCHAR(8))
	 AS
	 BEGIN
			 DELETE dbo.SuDungDichVu
			 WHERE dbo.SuDungDichVu.MaChiTietPhieuThue in (SELECT dbo.ChiTietPhieuThue.MaChiTietPhieuThue 
															FROM dbo.NhanVien
															JOIN dbo.PhieuThuePhong ON PhieuThuePhong.MaNV = NhanVien.MaNV
															JOIN dbo.ChiTietPhieuThue ON ChiTietPhieuThue.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong WHERE
															dbo.NhanVien.MaNV = @MANV)

			 DELETE dbo.ChiTietPhieuThue 
			 WHERE dbo.ChiTietPhieuThue.MaPhieuThuePhong in (SELECT dbo.PhieuThuePhong.MaPhieuThuePhong
															FROM dbo.NhanVien 
															JOIN dbo.PhieuThuePhong ON PhieuThuePhong.MaNV = NhanVien.MaNV WHERE
															dbo.NhanVien.MaNV = @MANV)
			 DELETE dbo.HoaDon WHERE dbo.HoaDon.MaPhieuThuePhong in (SELECT dbo.PhieuThuePhong.MaPhieuThuePhong
																		  FROM dbo.NhanVien
																		  JOIN dbo.PhieuThuePhong ON PhieuThuePhong.MaNV = NhanVien.MaNV
																		   WHERE
																		  dbo.NhanVien.MaNV = @MANV )
			 DELETE dbo.PhieuThuePhong WHERE @MANV = dbo.PhieuThuePhong.MaNV
			 DELETE dbo.NhanVien WHERE MaNV=@MANV
	 END

GO
/****** Object:  StoredProcedure [dbo].[delRoom]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delRoom](@MAPHONG VARCHAR(8))
     AS
     BEGIN
     DELETE dbo.Phong
     WHERE MaPhong= @MAPHONG
     END

GO
/****** Object:  StoredProcedure [dbo].[delSer]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delSer](@MADV VARCHAR(8))
     AS
     BEGIN
     DELETE dbo.DichVu
     WHERE MaDV = @MADV
     END

GO
/****** Object:  StoredProcedure [dbo].[delServiceRoom]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delServiceRoom](@MASD VARCHAR(8))
     AS
     BEGIN
     DELETE dbo.SuDungDichVu
     WHERE MaSD = @MASD
     END

GO
/****** Object:  StoredProcedure [dbo].[delTypeRoom]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delTypeRoom](@MALOAIPHONG VARCHAR(8))
     AS
     BEGIN
     DELETE dbo.LoaiPhong
     WHERE MaLoai= @MALOAIPHONG
     END

GO
/****** Object:  StoredProcedure [dbo].[delTypeSer]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delTypeSer](@MALOAIDV VARCHAR(8))
     AS
     BEGIN
     DELETE dbo.LoaiDichVu
     WHERE MaLoaiDV = @MALOAIDV
     END

GO
/****** Object:  StoredProcedure [dbo].[DSDichVu]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DSDichVu]
	 AS
	 BEGIN
		SELECT * FROM DichVu
	 END

GO
/****** Object:  StoredProcedure [dbo].[DSLoaiDichVu]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DSLoaiDichVu]
	 AS
	 BEGIN
		SELECT * FROM LoaiDichVu
	 END

GO
/****** Object:  StoredProcedure [dbo].[DSLoaiPhong]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DSLoaiPhong]
	 AS
	 BEGIN
		SELECT * FROM LoaiPhong
	 END

GO
/****** Object:  StoredProcedure [dbo].[DSPhieuSDDV]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DSPhieuSDDV]
	 AS
	 BEGIN
		SELECT * FROM SuDungDichVu
	 END

GO
/****** Object:  StoredProcedure [dbo].[DSPhong]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DSPhong]
	 AS
	 BEGIN
		SELECT * FROM Phong
	 END

GO
/****** Object:  StoredProcedure [dbo].[DsSDDV]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DsSDDV]
AS
BEGIN
	SELECT * FROM SuDungDichVu
end
GO
/****** Object:  StoredProcedure [dbo].[DSTenPhongSDDV]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DSTenPhongSDDV]
	 AS
	 BEGIN
		  SELECT TenPhong
FROM Phong
WHERE Phong.TinhTrang = 1
END

GO
/****** Object:  StoredProcedure [dbo].[getAcc1]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getAcc1]
as
SELECT dbo.NhanVien.MaNV, dbo.NhanVien.HoTen, dbo.NhanVien.TenTk, dbo.NhanVien.MatKhau, 
CASE WHEN Quyen=0 THEN N'Lễ Tân' WHEN Quyen=1 THEN N'Quản Lý' 
END AS Quyen
FROM dbo.NhanVien

GO
/****** Object:  StoredProcedure [dbo].[getAll_CTPT]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getAll_CTPT]
as
SELECT dbo.ChiTietPhieuThue.MaChiTietPhieuThue, dbo.ChiTietPhieuThue.NgayVao, 
CASE WHEN dbo.ChiTietPhieuThue.HinhThucThue=0 THEN N'Offline' WHEN dbo.ChiTietPhieuThue.HinhThucThue=1 THEN N'Online' end AS hinhthucthue,
dbo.ChiTietPhieuThue.SoLuongKhach, dbo.ChiTietPhieuThue.MaPhong, dbo.ChiTietPhieuThue.MaPhieuThuePhong
FROM ChiTietPhieuThue

GO
/****** Object:  StoredProcedure [dbo].[getallCus]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getallCus]
AS SELECT * FROM dbo.KhachHang
GO
/****** Object:  StoredProcedure [dbo].[getallEmp]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getallEmp]
AS SELECT dbo.NhanVien.MaNV, dbo.NhanVien.HoTen, NgaySinh, SDT FROM dbo.NhanVien
GO
/****** Object:  StoredProcedure [dbo].[getCTPT_FrIdPT]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getCTPT_FrIdPT](@mpt varchar(8))
as
SELECT dbo.ChiTietPhieuThue.MaChiTietPhieuThue, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa,
CASE WHEN dbo.ChiTietPhieuThue.HinhThucThue=0 THEN N'Offline' WHEN dbo.ChiTietPhieuThue.HinhThucThue=1 THEN N'Online' end AS hinhthucthue,
dbo.ChiTietPhieuThue.SoLuongKhach, dbo.ChiTietPhieuThue.MaPhong, dbo.ChiTietPhieuThue.MaPhieuThuePhong
FROM ChiTietPhieuThue WHERE MaPhieuThuePhong=@mpt

GO
/****** Object:  StoredProcedure [dbo].[getCusFrPhieuThue3]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getCusFrPhieuThue3](@maphieuthue Varchar(30), @MaKH varchar(8) out, @tenkh nvarchar(30) out, @soCMND char(12) out, @diachi nvarchar(20) out, @sdt char(12) out, @tennv nvarchar(30) out)
AS
BEGIN
set @MaKH = (select KhachHang.MaKH from KhachHang join PhieuThuePhong on PhieuThuePhong.MaKH = KhachHang.MaKH where MaPhieuThuePhong = @maphieuthue)
set @tenkh = (select KhachHang.TenKH from KhachHang join PhieuThuePhong on PhieuThuePhong.MaKH = KhachHang.MaKH where MaPhieuThuePhong = @maphieuthue)
set @soCMND = (select KhachHang.SoCMND from KhachHang join PhieuThuePhong on PhieuThuePhong.MaKH = KhachHang.MaKH where MaPhieuThuePhong = @maphieuthue)
set @diachi = (select KhachHang.DiaChi from KhachHang join PhieuThuePhong on PhieuThuePhong.MaKH = KhachHang.MaKH where MaPhieuThuePhong = @maphieuthue)
set @sdt = (select KhachHang.SDT from KhachHang join PhieuThuePhong on PhieuThuePhong.MaKH = KhachHang.MaKH where MaPhieuThuePhong = @maphieuthue)
set @tennv = (select NhanVien.HoTen from NhanVien join PhieuThuePhong on PhieuThuePhong.MaNV = NhanVien.MaNV where MaPhieuThuePhong = @maphieuthue)
end

GO
/****** Object:  StoredProcedure [dbo].[getDoanhThuTienDV]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getDoanhThuTienDV](@ngayvaochon date, @ngayrachon date)
as
SELECT Phong.TenPhong, dbo.DichVu.TenDV, dbo.SuDungDichVu.NgaySD, dbo.SuDungDichVu.SoLuong, dbo.SuDungDichVu.SoLuong*dbo.DichVu.DonGia AS tiendv
FROM dbo.Phong
JOIN dbo.ChiTietPhieuThue ON ChiTietPhieuThue.MaPhong = Phong.MaPhong
JOIN dbo.PhieuThuePhong ON PhieuThuePhong.MaPhieuThuePhong = ChiTietPhieuThue.MaPhieuThuePhong
JOIN dbo.SuDungDichVu ON SuDungDichVu.MaChiTietPhieuThue = dbo.ChiTietPhieuThue.MaChiTietPhieuThue
JOIN dbo.DichVu ON dbo.DichVu.MaDV = SuDungDichVu.MaDV 
AND @ngayvaochon < NgaySD AND NgaySD < @ngayrachon

GO
/****** Object:  StoredProcedure [dbo].[getDoanhThuTienPhong]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getDoanhThuTienPhong](@ngayvaochon date, @ngayrachon date)
as
SELECT phong.TenPhong, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa, 
DATEDIFF(DAY, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa) AS SoNgayO, dbo.Phong.GiaThue*DATEDIFF(DAY, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa) AS TienPhong
FROM dbo.Phong 
JOIN dbo.ChiTietPhieuThue ON ChiTietPhieuThue.MaPhong = Phong.MaPhong
JOIN dbo.PhieuThuePhong ON PhieuThuePhong.MaPhieuThuePhong = ChiTietPhieuThue.MaPhieuThuePhong
AND NgayVao > @ngayvaochon AND NgayRa < @ngayrachon

GO
/****** Object:  StoredProcedure [dbo].[getFreeRoom]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getFreeRoom]
as
SELECT dbo.Phong.MaPhong, dbo.Phong.TenPhong, dbo.LoaiPhong.TenLoai, dbo.LoaiPhong.SoNguoi, dbo.Phong.DienTich, dbo.Phong.GiaThue 
FROM dbo.Phong, dbo.LoaiPhong
WHERE dbo.Phong.MaLoai = dbo.LoaiPhong.MaLoai AND dbo.Phong.TinhTrang = 0

GO
/****** Object:  StoredProcedure [dbo].[getHTTT]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getHTTT]
as
SELECT  
CASE WHEN TenHTTT = 0 THEN N'Tiền mặt' WHEN TenHTTT = 1 THEN N'Thẻ'
END AS httt
FROM HinhThucThanhToan

GO
/****** Object:  StoredProcedure [dbo].[getIdEmpFrAcc]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getIdEmpFrAcc](@tentk varchar(30), @matkhau varchar(30))
as
SELECT dbo.NhanVien.MaNV FROM dbo.NhanVien
WHERE TenTk=@tentk AND MatKhau=@matkhau

GO
/****** Object:  StoredProcedure [dbo].[getIdNV]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getIdNV](@TenTk varchar(30), @MatKhau varchar(30))
as
SELECT dbo.NhanVien.MaNV FROM dbo.NhanVien
WHERE dbo.NhanVien.TenTk = @TenTk AND  MatKhau = @MatKhau
GO
/****** Object:  StoredProcedure [dbo].[getIdPTFromMaPhong]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getIdPTFromMaPhong](@tenphong nvarchar(20))
as
SELECT MAX(dbo.PhieuThuePhong.MaPhieuThuePhong) AS MPTP 
FROM dbo.PhieuThuePhong
JOIN dbo.ChiTietPhieuThue ON ChiTietPhieuThue.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong
JOIN dbo.Phong ON Phong.MaPhong = ChiTietPhieuThue.MaPhong
WHERE dbo.Phong.TenPhong = @tenphong
GO
/****** Object:  StoredProcedure [dbo].[getlistBill]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getlistBill]
as
SELECT dbo.HoaDon.MaHoaDon, TienPhong, TienDV, TongTien, 
CASE WHEN HinhThucThanhToan.TenHTTT = 0 THEN N'Tiền mặt' WHEN HinhThucThanhToan.TenHTTT = 1 THEN N'Thẻ' END AS HinhThucThanhToan,
NgayThanhToan, GhiChu, MaPhieuThuePhong
FROM dbo.HoaDon, HinhThucThanhToan WHERE dbo.HoaDon.MaHTTT = HinhThucThanhToan.MaHTTT

GO
/****** Object:  StoredProcedure [dbo].[getMaDVtoTenDV]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getMaDVtoTenDV](@TENDV NVARCHAR(20))
     AS
     BEGIN
SELECT DichVu.MaDV
FROM DichVu
WHERE DichVu.TenDV = @TENDV
     END
GO
/****** Object:  StoredProcedure [dbo].[getPermission]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getPermission](@username varchar(30), @password varchar(30))
as
select NhanVien.Quyen from NhanVien
where NhanVien.TenTk = @username and NhanVien.MatKhau = @password

GO
/****** Object:  StoredProcedure [dbo].[getPhieuThue2]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[getPhieuThue2]
as
SELECT dbo.PhieuThuePhong.MaPhieuThuePhong, dbo.KhachHang.MaKH, dbo.KhachHang.TenKH
FROM dbo.PhieuThuePhong, dbo.KhachHang
WHERE dbo.KhachHang.MaKH = dbo.PhieuThuePhong.MaKH

GO
/****** Object:  StoredProcedure [dbo].[GiaTienDV]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GiaTienDV](@madv varchar(8), @soluong tinyint)
as
select distinct DichVu.DonGia*@soluong as giatien 
from DichVu
where @madv = DichVu.MaDV

GO
/****** Object:  StoredProcedure [dbo].[Phong_Thue]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Phong_Thue] (@MaKH varchar(8))
as
begin
  select Phong.MaPhong, TenPhong, MaLoai, MaChiTietPhieuThue from Phong, ChiTietPhieuThue, PhieuThuePhong
  where Phong.MaPhong = ChiTietPhieuThue.MaPhong
  and ChiTietPhieuThue.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong
  and PhieuThuePhong.MaKH = @MaKH and phong.TinhTrang = 1
end

GO
/****** Object:  StoredProcedure [dbo].[Search_MaCtpt]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Search_MaCtpt](@MaChiTietPhieuThue varchar(8))
AS
SELECT dbo.ChiTietPhieuThue.MaChiTietPhieuThue, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa,
CASE WHEN dbo.ChiTietPhieuThue.HinhThucThue=0 THEN N'Offline' WHEN dbo.ChiTietPhieuThue.HinhThucThue=1 THEN N'Online' end AS hinhthucthue,
dbo.ChiTietPhieuThue.SoLuongKhach, dbo.ChiTietPhieuThue.MaPhong, dbo.ChiTietPhieuThue.MaPhieuThuePhong
FROM ChiTietPhieuThue WHERE MaChiTietPhieuThue = @MaChiTietPhieuThue

GO
/****** Object:  StoredProcedure [dbo].[Search_MaNV]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[Search_MaNV](@MaNV varchar(8))
AS
SELECT dbo.NhanVien.MaNV, dbo.NhanVien.HoTen, dbo.NhanVien.Quyen
FROM NhanVien WHERE MaNV = @MaNV
GO
/****** Object:  StoredProcedure [dbo].[Search_MaPhong]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Search_MaPhong](@MaPhong varchar(8))
AS
SELECT dbo.ChiTietPhieuThue.MaChiTietPhieuThue, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa,
CASE WHEN dbo.ChiTietPhieuThue.HinhThucThue=0 THEN N'Offline' WHEN dbo.ChiTietPhieuThue.HinhThucThue=1 THEN N'Online' end AS hinhthucthue,
dbo.ChiTietPhieuThue.SoLuongKhach, dbo.ChiTietPhieuThue.MaPhong, dbo.ChiTietPhieuThue.MaPhieuThuePhong
FROM ChiTietPhieuThue WHERE MaPhong = @MaPhong

GO
/****** Object:  StoredProcedure [dbo].[tienDvDetail]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[tienDvDetail](@maptp varchar(8))
as
SELECT Phong.TenPhong, dbo.DichVu.TenDV, dbo.SuDungDichVu.NgaySD, dbo.SuDungDichVu.SoLuong, dbo.SuDungDichVu.SoLuong*dbo.DichVu.DonGia AS tiendv
FROM dbo.ChiTietPhieuThue
JOIN dbo.Phong ON Phong.MaPhong = ChiTietPhieuThue.MaPhong
JOIN SuDungDichVu ON SuDungDichVu.MaChiTietPhieuThue = ChiTietPhieuThue.MaChiTietPhieuThue
JOIN dbo.PhieuThuePhong ON PhieuThuePhong.MaPhieuThuePhong = ChiTietPhieuThue.MaPhieuThuePhong
JOIN dbo.DichVu ON DichVu.MaDV = SuDungDichVu.MaDV
WHERE PhieuThuePhong.MaPhieuThuePhong = @maptp
GO
/****** Object:  StoredProcedure [dbo].[tienphongDetail]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[tienphongDetail](@mptp VARCHAR(8))
as
SELECT phong.TenPhong, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa, 
DATEDIFF(DAY, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa) AS SoNgayO,
dbo.Phong.GiaThue*DATEDIFF(DAY, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa) AS TienPhong
FROM dbo.ChiTietPhieuThue 
JOIN dbo.Phong ON Phong.MaPhong = ChiTietPhieuThue.MaPhong
JOIN dbo.PhieuThuePhong ON PhieuThuePhong.MaPhieuThuePhong = ChiTietPhieuThue.MaPhieuThuePhong
WHERE PhieuThuePhong.MaPhieuThuePhong = @mptp

GO
/****** Object:  StoredProcedure [dbo].[TKidCTPTofRoom]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TKidCTPTofRoom](@TENPHONG NVARCHAR(20))
     AS
     BEGIN
SELECT  max(ChiTietPhieuThue.MaChiTietPhieuThue)
FROM  ChiTietPhieuThue , Phong
WHERE 
ChiTietPhieuThue.MaPhong = Phong.MaPhong
and Phong.TenPhong = @TENPHONG 
     END

GO
/****** Object:  StoredProcedure [dbo].[TKKH]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[TKKH](@CHUOI VARCHAR(18))
     AS
     BEGIN
     SELECT * FROM dbo.KhachHang
     WHERE MaKH = @CHUOI
	 OR TenKH LIKE N'%'+@CHUOI +'%'
	 OR SoCMND = @CHUOI
	 or SDT = @CHUOI
     END
GO
/****** Object:  StoredProcedure [dbo].[TKND]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TKND](@CHUOI VARCHAR(18))
     AS
     BEGIN
	 SELECT dbo.NhanVien.MaNV, dbo.NhanVien.HoTen, dbo.NhanVien.TenTk, dbo.NhanVien.MatKhau, 
	 CASE WHEN Quyen=0 THEN N'Lễ Tân' WHEN Quyen=1 THEN N'Quản Lý' END AS Quyen
	 FROM dbo.NhanVien
     WHERE TenTk = @CHUOI
	 OR MatKhau = @CHUOI
	 OR MaNV = @CHUOI
	 or HoTen LIKE N'%'+@CHUOI +'%'
     END
GO
/****** Object:  StoredProcedure [dbo].[TKNV]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TKNV] (@CHUOI VARCHAR(18))
     AS
     BEGIN
     SELECT MaNV, HoTen, NgaySinh, SDT FROM dbo.NhanVien
	 --select * from NhanVien
     WHERE HoTen LIKE N'%'+@CHUOI +'%'
	 OR MaNV = @CHUOI
	 OR SDT = @CHUOI
     END
GO
/****** Object:  StoredProcedure [dbo].[TKPhong]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TKPhong](@TENPHONG VARCHAR(8))
     AS
     BEGIN
     SELECT * FROM dbo.Phong
     WHERE TenPhong = @TENPHONG
     END

GO
/****** Object:  StoredProcedure [dbo].[TKService]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TKService](@TENDV VARCHAR(8))
     AS
     BEGIN
     SELECT * FROM dbo.DichVu
     WHERE TenDV = @TENDV
     END

GO
/****** Object:  StoredProcedure [dbo].[TKtypeRoom]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TKtypeRoom](@TENLOAIPHONG VARCHAR(8))
     AS
     BEGIN
     SELECT * FROM dbo.LoaiPhong
     WHERE TenLoai LIKE N'%'+@TENLOAIPHONG +'%'
	 or MaLoai = @TENLOAIPHONG
     END

GO
/****** Object:  StoredProcedure [dbo].[TKtypeService]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TKtypeService](@TENLOAIDV VARCHAR(8))
     AS
     BEGIN
     SELECT * FROM dbo.LoaiDichVu
     WHERE TenLoaiDV = @TENLOAIDV
     END

GO
/****** Object:  StoredProcedure [dbo].[update_CTPT]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[update_CTPT](@mactpt varchar(8), @ngayvao date, @htt bit, @slk tinyint, @maphong varchar(8), @mptp varchar(8))
as
UPDATE dbo.ChiTietPhieuThue SET 
          NgayVao = @ngayvao ,
          
          HinhThucThue=@htt ,
          SoLuongKhach=@slk ,
          MaPhong =@maphong,
          MaPhieuThuePhong=@mptp WHERE MaChiTietPhieuThue = @mactpt

GO
/****** Object:  StoredProcedure [dbo].[updateAcc]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateAcc](@MANV VARCHAR(8), @tenTK varchar(30), @matkhau varchar(30), @quyen bit)
AS
BEGIN
	UPDATE NhanVien SET TenTk=@tenTK, MatKhau=@matkhau, Quyen=@quyen
	WHERE MaNV=@MANV;
END

GO
/****** Object:  StoredProcedure [dbo].[updateCus]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateCus](@MAKH VARCHAR(8), @TENKH NVARCHAR(30), @CMND CHAR(12), @DIACHI NVARCHAR(20), @SDT CHAR(12))
	 AS
	 BEGIN
		UPDATE KhachHang SET TenKH=@TENKH, SoCMND=@CMND, DiaChi=@DIACHI, SDT=@SDT 
		WHERE MaKH=@MAKH;
	 END
GO
/****** Object:  StoredProcedure [dbo].[updateEmp]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateEmp](@MANV VARCHAR(8), @HOTEN NVARCHAR(30), @NGAYSINH DATE, @SDT CHAR(12))
	 AS
	 BEGIN
		UPDATE NhanVien SET HoTen=@HOTEN, NgaySinh=@NGAYSINH, SDT=@SDT
		WHERE MaNV=@MANV;
	 END
GO
/****** Object:  StoredProcedure [dbo].[updateNgayRa]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateNgayRa] ( @MaChiTietPhieuThue varchar(8), @NgayRa date )
AS
BEGIN 
  UPDATE ChiTietPhieuThue Set NgayRa = @NgayRa
		WHERE MaChiTietPhieuThue = @MaChiTietPhieuThue
end

GO
/****** Object:  StoredProcedure [dbo].[updateRoom]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateRoom](@MAPHONG VARCHAR(8), @TENPHONG NVARCHAR(30), @TINHTRANG TINYINT, @DIENTICH INT, @GIATHUE FLOAT, @MALOAI VARCHAR(8))
	 AS
	 BEGIN
		UPDATE Phong SET TenPhong=@TENPHONG, TinhTrang= @TINHTRANG, DienTich=@DIENTICH, GiaThue=@GIATHUE, MaLoai =@MALOAI
		WHERE MaPhong= @MAPHONG;
	 END

GO
/****** Object:  StoredProcedure [dbo].[updateSer]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateSer](@MADV VARCHAR(8), @TENDV NVARCHAR(20), @DONGIA FLOAT,@MALOAIDICHVU VARCHAR(8))
	 AS
	 BEGIN
		UPDATE DichVu SET TenDV=@TENDV, DonGia=@DONGIA, MaLoaiDV=@MALOAIDICHVU
		WHERE MaDV=@MADV;
	 END

GO
/****** Object:  StoredProcedure [dbo].[UpdateServiceRoom]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateServiceRoom](@MASD VARCHAR(8), @NGAYSD DATE, @SOLUONG TINYINT, @GIATIEN FLOAT, @MADV VARCHAR(8), @MACTPT VARCHAR(8))
	 AS
	 BEGIN
		UPDATE SuDungDichVu
		SET SoLuong = @SOLUONG, GiaTien = @GIATIEN
		WHERE MaSD = @MASD
	 END

GO
/****** Object:  StoredProcedure [dbo].[updateTypeRoom]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateTypeRoom](@MALOAIPHONG VARCHAR(8), @TENLOAIPHONG NVARCHAR(30), @SONGUOI TINYINT, @GHICHU NVARCHAR(250))
	 AS
	 BEGIN
		UPDATE LoaiPhong SET TenLoai=@TENLOAIPHONG, SoNguoi= @SONGUOI, GhiChu=@GHICHU
		WHERE MaLoai= @MALOAIPHONG;
	 END

GO
/****** Object:  StoredProcedure [dbo].[updateTypeSer]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateTypeSer](@MALOAIDV VARCHAR(8), @TENLOAIDV NVARCHAR(20))
	 AS
	 BEGIN
		UPDATE LoaiDichVu SET TenLoaiDV=@TENLOAIDV
		WHERE MaLoaiDV=@MALOAIDV;
	 END

GO
/****** Object:  StoredProcedure [dbo].[ViewDoanhThuTheoSoTienNhap]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ViewDoanhThuTheoSoTienNhap](@ngayvaochon date, @ngayrachon DATE, @sotien VARCHAR(50))
as
SELECT Phong.TenPhong, 
SUM(dbo.SuDungDichVu.SoLuong*dbo.DichVu.DonGia + dbo.Phong.GiaThue*DATEDIFF(DAY, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa)) AS TongTien
FROM dbo.Phong
JOIN dbo.ChiTietPhieuThue ON ChiTietPhieuThue.MaPhong = Phong.MaPhong
JOIN dbo.PhieuThuePhong ON PhieuThuePhong.MaPhieuThuePhong = ChiTietPhieuThue.MaPhieuThuePhong
JOIN dbo.SuDungDichVu ON SuDungDichVu.MaChiTietPhieuThue = dbo.ChiTietPhieuThue.MaChiTietPhieuThue
JOIN dbo.DichVu ON dbo.DichVu.MaDV = SuDungDichVu.MaDV 
AND NgayVao > @ngayvaochon AND NgayRa < @ngayrachon
GROUP BY Phong.TenPhong
HAVING SUM(dbo.SuDungDichVu.SoLuong*dbo.DichVu.DonGia + dbo.Phong.GiaThue*DATEDIFF(DAY, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa)) > @sotien

GO
/****** Object:  StoredProcedure [dbo].[ViewTienDV]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ViewTienDV](@ngayvaochon date, @ngayrachon date)
as
SELECT Phong.TenPhong, SUM(dbo.SuDungDichVu.SoLuong*dbo.DichVu.DonGia) AS TongTienDV
FROM dbo.Phong
JOIN dbo.ChiTietPhieuThue ON ChiTietPhieuThue.MaPhong = Phong.MaPhong
JOIN dbo.PhieuThuePhong ON PhieuThuePhong.MaPhieuThuePhong = ChiTietPhieuThue.MaPhieuThuePhong
JOIN dbo.SuDungDichVu ON SuDungDichVu.MaChiTietPhieuThue = dbo.ChiTietPhieuThue.MaChiTietPhieuThue
JOIN dbo.DichVu ON dbo.DichVu.MaDV = SuDungDichVu.MaDV 
AND @ngayvaochon < NgaySD AND NgaySD < @ngayrachon
GROUP BY Phong.TenPhong

GO
/****** Object:  StoredProcedure [dbo].[ViewTienPhong]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ViewTienPhong](@ngayvaochon date, @ngayrachon date)
as
SELECT phong.TenPhong, SUM(dbo.Phong.GiaThue*DATEDIFF(DAY, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa)) AS TongTienPhong
FROM dbo.Phong 
JOIN dbo.ChiTietPhieuThue ON ChiTietPhieuThue.MaPhong = Phong.MaPhong
JOIN dbo.PhieuThuePhong ON PhieuThuePhong.MaPhieuThuePhong = ChiTietPhieuThue.MaPhieuThuePhong
AND NgayVao > @ngayvaochon AND NgayRa < @ngayrachon
GROUP BY TenPhong
ORDER BY TenPhong 

GO
/****** Object:  StoredProcedure [dbo].[wellCome]    Script Date: 6/27/2021 2:28:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[wellCome](@TenTk varchar(30), @MatKhau varchar(30))
as
SELECT dbo.NhanVien.HoTen FROM dbo.NhanVien 
WHERE dbo.NhanVien.TenTk = @TenTk AND MatKhau = @MatKhau

GO
USE [master]
GO
